<mat-toolbar class="app-title">Register a new movie</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form autocomplete="off" novalidate [formGroup]="registration" (ngSubmit)="submit()" (ngReset)="restartForm()">
      <mat-card-content>
                
        <dio-input-text title="Title *" [formGroup]="registration" controlName="title"></dio-input-text>
        <dio-input-text title="Photo Link *" [formGroup]="registration" controlName="urlPhoto"></dio-input-text>          
        <dio-input-date title="Release Date *" [formGroup]="registration" controlName="dtRelease"></dio-input-date>       
        <dio-input-textarea title="Description" [formGroup]="registration" controlName="description"></dio-input-textarea>        
        <dio-input-number 
          title="IMDb Rate" 
          min="0"
          max="10"
          step="0.5"
          [formGroup]="registration" 
          controlName="imbdRate"
        ></dio-input-number>
        <dio-input-text title="IMDb Link *" [formGroup]="registration" controlName="urlImdb"></dio-input-text>    
        <dio-input-select title="Genre *" [options]="gender" [formGroup]="registration" controlName="genre"></dio-input-select>
        
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Save</button>
        <button type="reset" color="warn" mat-raised-button>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>