<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
            type = "number"
            [min] = "min"
            [max] = "max"
            [step] = "step"
            [placeholder] = "title" 
            [name] = "controlName" 
            [formControlName] = "controlName"
    >
    <mat-error *ngIf="validation.checkAllErrors(formControl, 'required')">This field is required</mat-error>
    <mat-error *ngIf="validation.checkAllErrors(formControl, 'min')">Min rate is 0</mat-error>
    <mat-error *ngIf="validation.checkAllErrors(formControl, 'max')">Max rate is 10</mat-error>
  </mat-form-field>
</div>