.container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 1.3rem 0;
}

.title {
  font-size: larger;
}

.info-photo {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border: 2px solid rgb(103, 153, 156);
  border-radius: 10px; 
  background-color: #424242 
} 

.photo {
  padding-top: 1.3rem;
}

.mat-card-image {
  width: 200px;
  height: 300px;
  margin: auto;
  display: block;
}

.button {  
  margin: 0%;
  padding: 0%;
  border: 0%;  
}

.link {
  margin-left: 5px;
  color: orange;
}

.wrap-line {
  white-space: pre-line;
}

mat-card {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;

  border: 2px solid rgb(103, 153, 156);
  border-radius: 10px; 
} 

