<mat-list *ngIf="filme; else semRegistro">
  <mat-list-item> Title: {{filme.titulo}} </mat-list-item>
  <mat-list-item> Release Date: {{filme.dtLancamento | date: 'dd/MM/yyyy' }} </mat-list-item>
  <mat-list-item> Gender: {{filme.genero}} </mat-list-item>
  <mat-list-item class="quebrar-linha"> Description: {{filme.descricao}} </mat-list-item>
  <mat-list-item> Rating: <a [href]="filme.urlIMDb" target="_blank"> {{filme.nota}}</a> </mat-list-item>
  <img mat-card-image [src]="filme.urlFoto || semFoto" >
</mat-list>
<mat-card>
  <mat-card-actions>
    <button color="accent" mat-raised-button (click)="editar()">Edit</button>
    <button color="warn" mat-raised-button (click)="excluir()">Remove</button>
  </mat-card-actions>
</mat-card>

<ng-template #semRegistro>
  <h1 class="full-width main-div">No records found!</h1>
</ng-template>
