<mat-toolbar class="app-title">Registered Movies</mat-toolbar>

<mat-card class="float-left margin10 filter-list">
  <form autocomplete="off" novalidate [formGroup]="filter">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text title="Search here" [formGroup]="filter" controlName="titleFilter"></dio-input-text>
      </div>
    </div>
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-select title="Genre" [options]="genreFilter" [formGroup]="filter" controlName="genreFilter"></dio-input-select>
      </div>      
    </div>
  </form>
</mat-card>

<div class="home-content" infiniteScroll (scrolled)="onScroll()">
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.gender}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.urlPhoto" alt="Angular Material 7">
    <mat-card-content>
      <p>
        {{movie.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>