<mat-toolbar class="app-title">Registered Movies</mat-toolbar>

<mat-card class="float-left margin10 filter-list">
  <form autocomplete="off" novalidate [formGroup]="filter">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text title="Search here" [formGroup]="filter" controlName="fullTextSearch"></dio-input-text>
      </div>
    </div>
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-select title="Genre" [options]="genreOptions" [formGroup]="filter" controlName="genre"></dio-input-select>
      </div>      
    </div>
  </form>
</mat-card>

<div class="home-content" infiniteScroll (scrolled)="onScroll()" *ngIf="movies?.length; else noMovies">
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.gender}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.urlPhoto || noPhotoMovies" alt="Angular Material 7">
    <mat-card-content>
      <p class="wrap-line">
        {{movie.description || 'No description informed.'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open(movie.id)" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noMovies>
  <h1 class='full-width main-div'>No movies to show.</h1>
</ng-template>